<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div>
      <div class="card">
        <div class="card-header">
          Lista de Libros
        </div>
        <div class="card-body">

          <form [formGroup]="formularioLibro">
            <div class="input-group mb-3 d-flex flex-column">
              <input type="text" class="form-control-sm" placeholder="Ingresar nuevo libro" formControlName="titulo">
              <input type="text" class="form-control-sm" placeholder="Ingresar nuevo autor" formControlName="autor">
              <input type="text" class="form-control-sm" placeholder="Ingresar nueva imagen" formControlName="imagen">
              <input type="text" class="form-control-sm" placeholder="Ingresar nueva descripción" formControlName="descripcion">
              <input type="date" class="form-control-sm" placeholder="Ingresar nueva fecha de publicación" formControlName="fechaPublicacion">
              <input type="number" class="form-control-sm" placeholder="Ingresar la puntuación" formControlName="estrellas">

              <button class="btn btn-primary" type="button" [disabled]="formularioLibro.invalid" (click)="agregaLibro()">
                Agregar
              </button>

            </div>
          </form>

          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Autor</th>
                <th scope="col">Imagen</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha de Publicación</th>
                <th scope="col">Estrellas</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody *ngFor="let libro of listaLibros">
              <tr>
                <th scope="row">{{libro.id}}</th>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.autor }}</td>
                <td>{{ libro.imagen }}</td>
                <td>{{ libro.descripcion }}</td>
                <td>{{ libro.fechaPublicacion }}</td>
                <td>{{ libro.estrellas }}</td>
                <td><button class="btn btn-danger btn-sm" type="button"
                  (click)="eliminarLibro(libro)">
                  Eliminar
                  </button></td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
</div>
